n8n/workflows/n8n_learning.json
{
  "name": "n8n_learning",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "=RÔLE\nTu es un agent de modération de messages pour mon site portfolio.\n\nTa mission est d’analyser chaque message reçu et de déterminer s’il est sérieux ou nuisible.\n\nCONTEXTE\nJe suis développeur full-stack, étudiant à Epitech Marseille et stagiaire chez Librasoft.\nJe suis ouvert aux opportunités professionnelles.\n\nCRITÈRES DE MESSAGE NUISIBLE\n- spam ou démarchage automatique\n- insultes ou propos agressifs\n- menaces\n- contenu illégal\n- message sans rapport ou vide\n\nACTION\nAnalyse le message et retourne UNIQUEMENT un JSON valide, sans aucun texte autour.\n\nFORMAT DE RÉPONSE OBLIGATOIRE :\n{\n  \"allowed\": true | false,\n  \"subject\": \"un titre au message\"\n  \"score\": 1 à 5 sur 5,\n  \"commentaire\": \"court commentaire gemini\"\n  \"message\": \"message exacte reçu\"\n}\n \n\nIMPORTANT\n- Ne contacte personne\n- N’envoie aucun email\n- Ne fais aucune action\n- Fournis uniquement le JSON\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -768,
        96
      ],
      "id": "2cebf576-4946-43ca-ae0a-e241dff4388b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1312,
        96
      ],
      "id": "5c24a75d-8723-4836-81fd-bce9303c9c2c",
      "name": "When chat message received",
      "webhookId": "bba061d9-e879-4c60-bfc8-ce0856fe5bb6"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -720,
        480
      ],
      "id": "80924766-dd58-4445-99e3-17820e5ec843",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1008,
        384
      ],
      "id": "1c9b60e7-7fd9-440e-9cc8-944d472f685c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rUgmFbwolHIxOEtp",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Récupère l'output du premier item\nlet text = $json.output;\n\n// Supprime les backticks\ntext = text.replace(/```json\\n|```/g, \"\").trim();\n\n// Parse le JSON\nconst data = JSON.parse(text);\n\n// Retourne le JSON pur\nreturn [{ json: data }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        96
      ],
      "id": "1f3d1f39-3631-4b57-8b75-22aedd521c84",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2a586e48-7655-4767-98ff-f6dfde231365",
              "leftValue": "={{$json.allowed}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        96
      ],
      "id": "7368308d-960f-4ae9-8353-353100ef8587",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $env.EMAIL_RECEIVER }}",
        "subject": "=Portfolio: {{$json.subject}}",
        "emailType": "text",
        "message": "=Score : {{$json.score}}\nMessage : {{$json.message}}\nCommentaire : {{$json.commentaire}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        128,
        48
      ],
      "id": "17094be4-7e0f-4d97-9749-bad171fcbac0",
      "name": "Send a message",
      "webhookId": "3c0566a0-e65f-48ad-ab7d-1ae0d15db9f0",
      "credentials": {
        "gmailOAuth2": {
          "id": "tjqHWI0BZkcooCPz",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "67b1f623-52ac-490a-ad22-48b82626c413",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bacbc807bfdb2607046b3b35907f13bceafe284aefa689e826623e98a35d20f9"
  },
  "id": "aXEScpw6po4CmTOzFwt7j",
  "tags": []
}